[user]
name = 
email = 

[core]
editor = nvim
excludesfile = ~/.gitexcludes
pager = delta

[init]
defaultBranch = main

[merge]
conflictStyle = zdiff3

[push]
default = simple

[grep]
lineNumber = true

[alias]
co = checkout
ci = commit
br = branch
st = status
last = log -1 HEAD
recent = log -10 --oneline HEAD
unstage = reset HEAD --

[credential]
helper = cache

[pull]
rebase = true
ff = only

[interactive]
diffFilter = delta --color-only

[delta]
navigate = true  # use n and N to move between diff sections
