[user]
name = 
email = 

[core]
editor = nvim
excludesfile = ~/.gitexcludes
pager = "bat -p"

[init]
defaultBranch = main

[merge]
tool = nvimdiff

[push]
default = simple

[grep]
lineNumber = true

[diff]
tool = nvimdiff

[alias]
co = checkout
ci = commit
br = branch
st = status
last = log -1 HEAD
recent = log -10 --oneline HEAD
unstage = reset HEAD --

[credential]
	helper = cache

[pull]
	rebase = true
	ff = only
